# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# others
public/files/*
sebastian-inc-firebase-adminsdk-4ljw2-6afa8acd52.json
plugins/weboscket.ts.override

# .gitignore
!.gitignore
